
/src/_ReSharper.OpenHealthMessaging
/src/CommonDataTypes/bin
/src/EndpointLocationService/_ReSharper.OpenHealthMessaging.Els
/src/EndpointLocationService/bin
/src/EndpointLocationService/obj
/src/CommonDataTypes/obj/Debug/OpenHealthMessaging.CommonDataTypes.csproj.FileListAbsolute.txt
/src/CommonDataTypes/obj
/src/OpenHealthMessaging.5.1.ReSharper.user